.env
*.env
.idea
/.idea/*
/logs/*
/.idea
.DS_Store
*/.DS_Store
main/.DS_Store
.DS_Store
test.html
work.log
.DS_Store
exe
./exe/*
/storage/*
/public/*
/dist/*
/dist
/vue_console
/vue_console/*
S2CProtocol
/S2CProtocol
/pitaya_conf
pitaya_conf
/pitaya_conf/*
/kratos_conf
kratos_conf
/kratos_conf/*
env.yaml
bin
GameBin
.agollo
s2c_p
.vscode